@{
    ViewData["Title"] = "Repositório da Aplicação";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
  <p>Caso deseja consultar o código-fonte será possível através do respositório que se encontra no <a href="https://github.com/marquescharlon/JSON_to_CSV_Converter" target="_blank">https://github.com/marquescharlon/JSON_to_CSV_Converter</a>.</p>
</div>

